{% extends 'base.html' %}
{% block content %}
<body>
	<h1>Quiénes somos</h1>
	<p>Somos una empresa dedicada a la fabricación y venta de muebles de alta calidad. Desde nuestros inicios en 2010, nos hemos enfocado en ofrecer productos únicos y personalizados para nuestros clientes.</p>
	<p>Nuestro equipo está conformado por expertos en diseño y carpintería que trabajan juntos para crear piezas únicas y duraderas.</p>
	<p>Si estás buscando muebles de alta calidad para tu hogar o negocio, no dudes en contactarnos.</p>
</body>

{% endblock %}